.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.spinner-blade {
  position: absolute;
  width: 3px;
  height: 9px;
  border-radius: 1px;
  background-color: #8e8e93;
  transform-origin: center;
  animation: ios-loading-animation 0.8s ease-in-out infinite;
}

.spinner-blade:nth-child(1) {
  transform: rotate(0deg) translate(10px) rotate(-90deg);
  animation-delay: 0.1s;
}

.spinner-blade:nth-child(2) {
  transform: rotate(45deg) translate(10px) rotate(-90deg);
  animation-delay: 0.2s;
}

.spinner-blade:nth-child(3) {
  transform: rotate(90deg) translate(10px) rotate(-90deg);
  animation-delay: 0.3s;
}

.spinner-blade:nth-child(4) {
  transform: rotate(135deg) translate(10px) rotate(-90deg);
  animation-delay: 0.4s;
}

.spinner-blade:nth-child(5) {
  transform: rotate(180deg) translate(10px) rotate(-90deg);
  animation-delay: 0.5s;
}

.spinner-blade:nth-child(6) {
  transform: rotate(225deg) translate(10px) rotate(-90deg);
  animation-delay: 0.6s;
}

.spinner-blade:nth-child(7) {
  transform: rotate(270deg) translate(10px) rotate(-90deg);
  animation-delay: 0.7s;
}

.spinner-blade:nth-child(8) {
  transform: rotate(315deg) translate(10px) rotate(-90deg);
  animation-delay: 0.8s;
}

@keyframes ios-loading-animation {
  from {
    background-color: #8e8e9344;
  }
  to {
    background-color: #8e8e93;
  }
}

.notfound__status-wrapper {
  width: 420px;
  margin-top: 16.7vh;
  margin-right: auto;
  margin-left: auto;
  padding-top: 94px;
  text-align: center;
  background-image: url(../img/ico-no-results.svg);
  background-size: 63px 66px;
  background-position: center top;
  background-repeat: no-repeat;
}
